<div class="inner-box">
  <div class="main-title">
      <h3 class="title">Appointments</h3>
  </div>
  <div class="toolbar toolbar-style">
      <div class="left-toolbar">
          <div class="input-box">
              <input class="input-style" type="search" placeholder="Search patient">
          </div>
      </div>
      <div class="right-toolbar">
         <a href="/book-appointment.html">
          <button class= "primary-btn">Book Appointment</button>
         </a>
      </div>
  </div>

  <table class="table-box">
   <tr class="table-header">
    <th>Patient</th>
    <th>Status</th>
    <th>Date & Time</th>
    <th>Phone</th>
    <th>Consultant</th>
    <th>Action</th>
   </tr>
   <tr class="table-body">
    <td>
        <div class="user-detail">
            <p-avatar label="A T" styleClass="p-mr-2" 
            [style]="{'background-color':'#2196F3', 'color': '#ffffff'}" shape="circle"></p-avatar>
            <div class="right">
                <label>Aditya Tripathi</label>
                <p class="sub-title">26 Year,<span>Male</span></p>
            </div>
        </div>
    </td>
    <td>
        <div class="status">
            <p-tag styleClass="p-mr-2" value="Primary"></p-tag>
        </div>
    </td>
   </tr>
  </table>
</div>
